/* Modal.css */
.modelo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5100; /* Ensure it appears above other content */
}

.modelo-content {
  position: relative;
}

.enlarged-image {

  width: 1200px;
  height: 700px;

}

@media (max-width: 768px) {
.enlarged-image {
  width: 370px;
  height: 500px;
}
}
